body{
    background-color: rgba(241, 241, 241, 0.904);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.container-flex{
    display: flex;
    background-color: white;
    font-size: 25px;  
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap ;
    width: 100%;
    font-family: 'Inter', sans-serif;
    box-shadow: 4px 16px 15px -12px rgb(0 0 0 / 4%);
    

}

ul{
    
    display: flex;  
    flex-wrap: wrap ;   
}

li{
    margin: 20px;
    list-style: none;    
}

.blog a{
    background-color: #f0047f; 
    padding: 3px;  
    border-radius: 5px;
    color: white;
}

.blog a:hover{
    background-color:aquamarine; 
}


a{
    text-decoration: none;
    color: #343A40;
}

a:hover{
    color: #f0047f;
}


h1{
   color: #f0047f;
}

.bottom-promotion a{
    background-color: #f0047f;
    padding: 20px;
    border-radius: 10px;
    color: white;    
}

.bottom-promotion a:hover{
    background-color: aquamarine;
    color: #f0047f;
}

/* ------------------------------- */

.produtos-flex{
    display: flex;
    width: 100%;    
    flex-wrap: wrap;
    gap: 10px;   
    font-family: 'Inter', sans-serif;
    justify-content: space-around;
    align-items: stretch;
}







.botao-adicionar{
  background-color: #f0047f;
  border: none;
  padding: 5px;
  column-rule-color: white;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  }

.botao-adicionar:hover{
    background-color: aquamarine;
     color: black;     
    
}

.container-produtos p,h3{
    margin: 0px;
    font-size: 15px; 
      
}

.container-flex img{
    width: 25%;
}



/* ------------------------------- */

.container-produtos {
	overflow: hidden;
  justify-content: center
}

.container-produto {
	max-width: 250px;
  width: 100%; 
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
  -webkit-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.15); 
box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.15);
}

.container-produtos img:hover {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1.1);
}

/* ------------- formulario  */

.containerFormularioDesafio {
 display: flex;
 margin: 0 auto;
 justify-content: center;
}


  .formularioDesafio{    
    display: flex;
    flex-direction: column;
    align-items: center;       
    text-align:center ;

    background:white ;

    max-width:400px;
    width: 100%;  
    gap: 10px;

    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
    padding: 10px 0;
    border-radius: 8px;
  }
 
  
  .containerFormularioDesafio input {   
    background-color:#f9fafb ;
    border: none;
    padding: 15px;
    width:80%;  
    font-size:15px;    
  }
  
  input:hover::placeholder {
    padding-left: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    }

  .containerFormularioDesafio #nome {
    background-color:#f9fafb ;
    border:#f0047f;    
  }

  
  
  .containerFormularioDesafio button {  
    
    background-color:#f0047f;
    width:90%;
    border:10px;
    padding:15px;
    color: white;
    font-size:18px ;
    cursor:pointer ;
  
    
  }
  
  button:hover{
      background-color: aquamarine;
      color: black;
  }


  a{
    text-decoration:none;
  }
  
.message {
      font-size: 25px;
      font-family: 'Inter', sans-serif;
      color:#f0047f;
  }

/* RODAPE------------------ */


.container-rodape{
    width: 100%; 
    height: 200px;
    margin-top: 40px;
    padding: 20px;
    text-align:left;
    color: #f0047f;
    font-family: 'Inter';
    font-size:18px;
    display: flex;          
    box-sizing: border-box;     
    vertical-align: top;
  }
  
.container-rodape ul, li{
    list-style: none; 
    padding: 0;  
    margin-top: 0;
    display: inline-block;
  }
  
.container-rodape p{
    margin-bottom: 10px;
    font-size: 18px;
   
  }
  
  .redes-sociais{  
    display: flex;    
    margin: 0 auto;
    align-items: center;
  }

.container-redesociais{
    display: flex;

}
.icones img{
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
 .icones img:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  }

  /* ----------------------INDEX  */
.section1{
    width: 100%;  
    margin: 0 auto;  
    background-image:url("./img/img/montagem/Sem Título-1.png");
    background-repeat:no-repeat;
    background-size: 100%; 
    background-position: center;
    height: 500px;
  }

  .banner-principal{
    display: flex;      
    margin-left:250px;
    gap: 25px;
    justify-content: flex-start;
    align-items: normal;       
  }

.texto-intro{
    margin-top: 200px;
   display: flex;
   position: absolute;
   flex-direction: column;

  }
.texto-intro h1{
    font-family: bebas;
    font-size: 80px;
    margin: 0;
   
}

.texto-intro a{    
    border: 3px #f0047f solid;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    color: white;
}


.texto-intro a:hover{
    padding-left: 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    color: white;
    background-color: rgba(255, 255, 255, 0.297);
}
.texto-intro p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}


.page-main-2{
  width: 80%;
  display: flex;

}

.section2{
  display: flex;
}
/* -----------------------------sobrenos */


.container-sobrenos-geral{
  width: 100%;
  font-family: 'Inter', sans-serif;

}

.container-medida-flex{
  display: flex;
  justify-content: center;
  gap: 40px;
  

}
.container-sobrenos-texto{
  width: 500px;
  
}
.container-sobrenos-texto h2{
  color:#f0047f
  
}
.contar
.grid-3{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.grid-3 p{
  margin:0;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.grid-3 h2{
  margin-bottom: 2px;
  text-align: center;
  font-size: 18px;
}

.grid-3 h3{
  margin: 0;
  font-size: 15px;
}

.img-equipe{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div1{
  cursor: pointer;
}
/* ---------------blog---------- */

.container-geral-blog{
  width: 70%;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-around;
  margin:0 auto;
  gap: 20px;
}

.container-blog-flex{
  display: flex;
  background-color: white;
  border-radius: 8px;
  width: 300px; 
  height: 400px;
  -webkit-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.15); 
box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.15);
}


.container-imagem-blog{  
  align-items: center;
  justify-content: center;
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.container-imagem-blog img:hover{
  transform: scale(1.5);
}
.container-blog-conteudo{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start; 
}

.container-blog-conteudo p{
  text-align: center;
  font-size: 15px;
}

.container-blog-conteudo h2{
  text-align: center;
  font-size: 18px;
  color: #f0047f;
}

.leiaMais{
  color: #f0047f; 
  border-radius: 10px;
}

.leiaMais:hover{
 color: aquamarine;  
}


/* --------------------------------------- */

#secao-de-compras {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

#container-geral {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  flex-wrap: nowrap;
  gap: 20px;
  margin-right: 50px;
  margin-left: 50px;
  width: 100%;


}

#lista-produtos {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 25px;
  justify-content: center;
  padding: 0;
}







.container-produto h3,
p,
h4 {
  margin: 5px;
  color: rgb(37, 36, 36);
}

.container-produto p {
  font-size: 12px;
}

.descritivo-produto {
  background-color: white;
  padding: 10px;
  
}

#carrinho {
  display: flex;
  flex-direction: column;    
  width: 30%;
  align-items: center;
  
}


#carrinho li{
  margin: 5px;    
}
#container-pesquisa {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-around;
  margin-bottom: 15px;
  align-content: stretch;
  align-items: stretch;   

}

#input{
  width: 250px;
}
#button-pesquisa{
  cursor: pointer;
}

.secao-roupa {
  display: flex;
}

.secao-roupa h5 {
  background-color: #f0047f;
  padding: 5px;
  color: white;
  
}

.informacao-produto {
  font-size: 12px;
}

.buttonAdicionar {
  border: none;
  color: #f0047f;
  background-color: white;
  cursor: pointer;
}

.buttonAdicionar:hover {
  color: aquamarine;
  background-color: transparent;

}

#pesquisa {
  width: 60%;
  margin: 0;
  border: solid 1px #f0047f;
  ;
  height: 25px;
}

#pesquisa:focus {
  outline-color: aquamarine;
}

#button-pesquisa {
  background-color: #f0047f;
  border: none;
  color: white;
  width: 40%;
}

#button-pesquisa:hover {
  background-color: aquamarine;
  color: #f0047f;
}

#carrinho-de-compras {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

}

#carrinho-de-compras img {
  width: 40%;
}

.container-imagemProduto {
  overflow: hidden;  
  width: 100%;   
}

.container-imagemProduto  img:hover{
  -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);
object-fit: contain;
}


#header-carrinho {
  background-color: #f0047f;
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
}

#header-carrinho h5 {
  margin: 10px;
  text-align: center;
}

#interior-carrinho{
  display: flex;
  flex-direction: row;
  padding: 0;  
  overflow-y: auto;  
  width: 100%;
  margin: 0;
}

#interior-carrinho ul{
  display: flex; 
  width: 100%;
}

#interior-carrinho li{
  list-style: none;
  width: 100%;
}
.produtos-carrinhos {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  width: 100%; 
  height: 80px;  
}


.info-produtos-carrinho{
 display: flex;
 flex-direction: column; 
 width: 80%;
 align-items: flex-start;
}

.info-produtos-carrinho h4,
h5 {
  margin: 5px;
}

.info-produtos-carrinho h4{
 font-size: 15px;
}
#resumo-itens-carrinho{
background-color: rgb(42, 41, 41);
width: 100%;
display: flex;
justify-content: space-around;
flex-direction: column;
}

#resumo-itens-carrinho p{  
  font-size: 12px;
  color: white;
}

#resumo-itens-carrinho h5{  
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-align: center;    
 font-weight: 100;
  

}

.buttonRemover {
  background-color: #f0047f;
  border: none;
  color: white;
  cursor: pointer;
}

.buttonRemover:hover {
  background-color: aquamarine;
  color: #f0047f;
}

.containerImagemCarrinho{    
  width: 100%;  
  overflow: hidden;  
  display: flex;
  justify-content: center;
}

.containerImagemCarrinho img{  
  width: 100%;
}


#mensagemCarrinho{
  color: white;
}