body{
    background-color: rgba(241, 241, 241, 0.904);
    
}

.container-flex{
    display: flex;
    background-color: white;
    font-size: 25px;  
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap ;
    width: 100%;
    font-family: 'Inter', sans-serif;
    -webkit-box-shadow: -3px 16px 15px -12px rgba(0,0,0,0.43); 
  box-shadow: -3px 16px 15px -12px rgba(0,0,0,0.43);  
    

}

ul{
    
    display: flex;  
    flex-wrap: wrap ;   
}

li{
    margin: 20px;
    list-style: none;    
}

.blog a{
    background-color: #f0047f;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.blog a:hover{
    background-color:aquamarine; 
}


a{
    text-decoration: none;
    color: #343A40;
}

a:hover{
    color: #f0047f;
}


h1{
   color: #f0047f;
}

.bottom-promotion a{
    background-color: #f0047f;
    padding: 20px;
    border-radius: 10px;
    color: white;    
}

.bottom-promotion a:hover{
    background-color: aquamarine;
    color: #f0047f;
}

/* ------------------------------- */

.produtos-flex{
    display: flex;
    width: 100%;    
    flex-wrap: wrap;
    gap: 10px;   
    font-family: 'Inter', sans-serif;
    justify-content: space-around;
    align-items: stretch;
}


.container-produtos{
    background-color: white;
    border-radius: 20px;
    width: 15%;
    height: 300;
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding: 10px; 
     
}


.botao-adicionar{
  background-color: #f0047f;
  border: none;
  padding: 5px;
  column-rule-color: white;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  }

.botao-adicionar:hover{
    background-color: aquamarine;
     color: black;     
    
}

.container-produtos p,h3{
    margin: 0px;
    font-size: 15px; 
      
}

.container-flex img{
    width: 25%;
}



/* ------------------------------- */

.container-produtos {
	overflow: hidden;
  justify-content: center
}

.container-produtos {
	max-width: 70%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
  -webkit-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.15); 
box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.15);
}

.container-produtos img:hover {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1.1);
}

/* ------------- formulario  */

.containerFormularioDesafio {
 display: flex;
 margin: 0 auto;
 justify-content: center;
}


  .formularioDesafio{    
    display: flex;
    flex-direction: column;
    align-items: center;       
    text-align:center ;

    background:white ;

    max-width:400px;
    width: 100%;  
    gap: 10px;

    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
    padding: 10px 0;
    border-radius: 8px;
  }
 
  
  .containerFormularioDesafio input {   
    background-color:#f9fafb ;
    border: none;
    padding: 15px;
    width:80%;  
    font-size:15px;    
  }
  
  input:hover::placeholder {
    padding-left: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    }

  .containerFormularioDesafio #nome {
    background-color:#f9fafb ;
    border:#f0047f;    
  }

  
  
  .containerFormularioDesafio button {  
    
    background-color:#f0047f;
    width:90%;
    border:10px;
    padding:15px;
    color: white;
    font-size:18px ;
    cursor:pointer ;
  
    
  }
  
  button:hover{
      background-color: aquamarine;
      color: black;
  }


  a{
    text-decoration:none;
  }
  
.message {
      font-size: 25px;
      font-family: 'Inter', sans-serif;
      color:#f0047f;
  }

/* RODAPE------------------ */


.container-rodape{
    width: 100%; 
    height: 200px;
    margin-top: 40px;
    padding: 20px;
    text-align:left;
    color: #f0047f;
    font-family: 'Inter';
    font-size:18px;
    display: flex;          
    box-sizing: border-box;     
    vertical-align: top;
  }
  
.container-rodape ul, li{
    list-style: none; 
    padding: 0;  
    margin-top: 0;
    display: inline-block;
  }
  
.container-rodape p{
    margin-bottom: 10px;
    font-size: 18px;
   
  }
  
  .redes-sociais{  
    display: flex;    
    margin: 0 auto;
    align-items: center;
  }

.container-redesociais{
    display: flex;

}
.icones img{
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
 .icones img:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  }

  /* ----------------------INDEX  */
.section1{
    width: 100%;  
    margin: 0 auto;  
    background-image:url("./img/img/montagem/Sem Título-1.png");
    background-repeat:no-repeat;
    background-size: 100%; 
    background-position: center;
    height: 500px;
  }

  .banner-principal{
    display: flex;      
    margin-left:250px;
    gap: 25px;
    justify-content: flex-start;
    align-items: normal;       
  }

.texto-intro{
    margin-top: 200px;
   display: flex;
   position: absolute;
   flex-direction: column;

  }
.texto-intro h1{
    font-family: bebas;
    font-size: 80px;
    margin: 0;
   
}

.texto-intro a{    
    border: 3px #f0047f solid;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    color: white;
}


.texto-intro a:hover{
    padding-left: 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    color: white;
    background-color: rgba(255, 255, 255, 0.297);
}
.texto-intro p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}


.page-main-2{
  width: 80%;
  display: flex;

}

.section2{
  display: flex;
}
/* -----------------------------sobrenos */


.container-sobrenos-geral{
  width: 100%;
  font-family: 'Inter', sans-serif;

}

.container-medida-flex{
  display: flex;
  justify-content: center;
  gap: 40px;
  

}
.container-sobrenos-texto{
  width: 500px;
  
}
.container-sobrenos-texto h2{
  color:#f0047f
  
}
.contar
.grid-3{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.grid-3 p{
  margin:0;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.grid-3 h2{
  margin-bottom: 2px;
  text-align: center;
  font-size: 18px;
}

.grid-3 h3{
  margin: 0;
  font-size: 15px;
}

.img-equipe{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div1{
  cursor: pointer;
}
/* ---------------blog---------- */

.container-geral-blog{
  width: 70%;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-around;
  margin:0 auto;
}

.container-blog-flex{
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 500px;
  -webkit-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.15); 
box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.15);
}
.container-blog-flex:hover{
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.container-imagem-blog{  
  align-items: center;
  justify-content: center;
  display: flex;
}
.container-imagem-blog img{
  margin-top: 0;
}
.container-blog-conteudo{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.container-blog-conteudo p{
  text-align: center;
  font-size: 15px;
}

.container-blog-conteudo h2{
  text-align: center;
  font-size: 18px;
  color: #f0047f;
}

.container-blog-conteudo a{
  background-color: #f0047f;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.container-blog-conteudo a:hover{
  background-color: aquamarine;
  color: black;
}